#manually setting these configs for now, in the future (prod) lets add these to our VM on docker or however it works idk

CANVAS_CLIENT_ID=123456 #used to identify our app
CANVAS_OIDC_AUTH_URL=https://sso.canvaslms.com/api/lti/authorize_redirect #open ID auth login initiation URL -> might be UF specific
CANVAS_TOKEN_URL=https://sso.canvaslms.com/login/oauth2/token #canvas OAUth2 service URL -> might be UF specific
CANVAS_JWKS_URL=https://sso.canvaslms.com/api/lti/security/jwks #where canvas hosts their public json web keys -> might also be UF specific
FLASK_SECRET=some-long-random-string #secret key for flask session cookies 
CANVAS_DEPLOYMENT_ID=123:1a1a1a1a1a1a1a1a1a1a1a1a1a1a # Deployment ID for registration
