#manually setting these configs for now, in the future (prod) lets add these to our VM on docker or however it works idk

CANVAS_CLIENT_ID=123456
CANVAS_OIDC_AUTH_URL=https://sso.canvaslms.com/api/lti/authorize_redirect
CANVAS_TOKEN_URL=https://sso.canvaslms.com/login/oauth2/token
CANVAS_JWKS_URL=https://sso.canvaslms.com/api/lti/security/jwks
FLASK_SECRET=some-long-random-string

